body {
  transition: background-color 0.3s, color 0.3s;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  width: 100%;
  height: 500px;  /* të gjitha kartat të kenë të njëjtën lartësi */
  object-fit: cover; /* prerje dhe mbushje pa deformuar */
}

.card-body {
  text-align: center;
}

.modal-content {
  border-radius: 10px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
